<!DOCTYPE html>
<html>
<head>
    <title>Add Task</title>
    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" 
        rel="stylesheet">
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Add Task</h1>

    <form method="POST">

        <input
            type="text"
            name="name"
            placeholder="Task Name"
            required>

        <br><br>

        <input
            type="text"
            name="status"
            placeholder="Pending / Done"
            required>

        <br><br>
        <label>Due Date:</label>
        <input type="date" name="due_date" required>

        <button type="submit">
            Add Task
        </button>

    </form>

</body>
</html>