<!DOCTYPE html>
<html>
<head>
    <title>All Tasks</title>
</head>
<body>

    {% include 'navbar.html' %}

    <h1>All Tasks</h1>

    {% if tasks %}

    <table border="1">

        <tr>
            <th>Task ID</th>
            <th>Task Name</th>
            <th>Status</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>

        {% for task in tasks %}

        <tr>
            <td>{{ task[0] }}</td>
            <td>{{ task[2] }}</td>
            <td>{{ task[3] }}</td>

            <td>
                <a href="{{ url_for('edit_task', task_id=task[0]) }}">
                    Update
                </a>
            </td>

            <td>
                <a href="{{ url_for('delete', task_id=task[0]) }}">
                    Delete
                </a>
            </td>
        </tr>

        {% endfor %}

    </table>

    {% else %}

    <h3>No Tasks Found</h3>

    {% endif %}

</body>
</html>